body, html {
    background: url(img/green\ code.webp);
    background-attachment: fixed;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    
}

        /*navigace*/


nav  {
    
    position: fixed;
    background: rgb(51, 50, 50);
    width: 100%;
    
}

nav ul {
  
    width: 1020px;
    margin: 0px auto;
	
   
    
    
    
}

nav ul li {
   
	margin: 8px 20px 8px 20px;
    list-style-type: none;
	float: left;
	text-align: center;
	font-size: 23px;
	
    
    
}

nav ul li a {
    
    margin: 0px auto;
	color:rgb(250, 246, 246);
	text-decoration: none;
   
}

nav ul li a:hover {
    transition: font-size 0.3s ;
	font-size: 25px;
    text-decoration: underline;
}




        /*uvod*/

.uvod {
    
    
    text-align: center;
    
  
}



        /*obsah*/

.obsah {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 200px;
    
}

.uvod {
    background: rgb(210, 210, 210);
    padding: 30px 20px 40px 20px;
    margin-bottom: 200px;
}

.co-to-je {
    background: rgb(210, 210, 210);
    padding: 50px 20px 100px 20px;
    margin-bottom: 200px;
}

.kde-se-vyuziva {
    background: rgb(210, 210, 210);
    padding: 50px 20px 100px 20px;
    margin-bottom: 200px;
}

.druhy-jazyku {
    background: rgb(210, 210, 210);
    padding: 50px 20px 100px 20px;
    margin-bottom: 200px;
}

.plat {
    background: rgb(210, 210, 210);
    padding: 50px 20px 100px 20px;
    margin-bottom: 100px;
}

.ja-a-programovani {
    background: rgb(210, 210, 210);
    padding: 50px 20px 100px 20px;
    margin-bottom: 320px;
    margin-top: 250px;
}

.zaver {
    background: rgb(210, 210, 210);
    padding: 40px 20px 50px 20px;
    margin-top: 250px;
    margin-bottom: 100px;
}



p {
    font-size: 20px;
}


.img {
    position:static;
    display: block;
    float: left;
    width: 400px;
}
.img2 {
    position:static;
    display: block;
    float: right;
    width: 400px;
}

.img3 {
    position:static;
    display: block;
    float: right;
    width: 200px; 
    margin-right: 70px;
    
    
}

.img4 {
    position:static;
    display: block;
    float: left;
    width: 200px; 
    margin-right: 70px;
    
    
}

.copywrite {
    color: white;
    text-align: center;
}

